.about {
    color: #060606;
  
}


.about__item::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("./../img/gates.png") center center / cover no-repeat;
}

.about__desc {
    background: url("./../img/mountains.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    padding: 70px 203px 65px 81px;
    margin-left: 354px;
    margin-top: -408px;
    width: 785;
}

.about__title {
    font-size: 36px;
    line-height: 49px;
    color: black;
    margin-bottom: 38px;
}

.about__text {
    margin-bottom: 41px;
    line-height: 27px;

}

.about__btn {
    background-color: red;
    padding: 20px 46px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}
