.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    display: block;
    line-height: 1;
    margin-right: 0;
}

.contacts__description {
    font-size: 11px;
    color: #9A9A9A;
    margin-top: 14px;
    margin-right: 0;

}
.contacts__dropdown-title{
    font-size: 13px;
}