.footer {
    position: relative;
    background-color: #001821;
    color: #fff;
  
}

.footer__container {
    padding: 35px 0px;
    border-top: #122931 solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__container--innner{

    border: none;
    padding-top: 42px;
}
.footer__col{
    display: flex;
    align-items: center;
}
.footer__contacts{
    padding-top: 5px;
}

.socials__list{
    display: flex;
    align-items: center;
}

.socials__item {

    margin-right: 10px;

}

.footer__socials{
margin-right: 63px;
}

.socials__item :last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram {

    background: url("../img/sprite.png") -122px -10px;
}

.socials__item--icon--vk .socials__link {
    background: url("../img/sprite.png")  -66px -122px;
}

.socials__item--icon--facebook .socials__link {
    background: url("../img/sprite.png")-10px -122px;
}

.socials__item--icon--instagram .socials__link {
    background: url("../img/sprite.png")-122px -66px;
}




