


.header {
    padding-top: 26px;
    margin-bottom: 118px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.header__col {
    display: flex;
    align-items: center;
}

.header__col-align-right {
    justify-content: flex-end;
}



.logo {
    display: block;
    margin-right: 80px;
    width: 85px;
    height: 36px;

}

.logo--inner{
    width: 98px;
    height: 42px;
    margin-right: 66px;
}

.logo__pic{
    width: 100%;
    height: auto;
}


.contacts {
    font-style: normal;
    text-align: right;
}


.nav__list{
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 54px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    text-decoration: none;
    transition: color .3s;

}

.nav__link:hover, .nav__link--active{
    color: #DA0100;
}
