.inner{
    background-color: #F4F5F5;
}

.inner-section__title{
    color: #1A1B1E;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;  
    margin-bottom: 84px;
    
}


