.container--hero {
    margin-bottom: 246px;
}

.main-page{
    margin-bottom: 56px;
}

.hero {
    width: 511px;
}

.hero__title {

    font-size: 72px;
    font-weight: bold;
    line-height: 98px;
    margin-bottom: 28px;
}

.hero__description {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33px;
}

