.page-content{
    background: #fff;
    color: #303030;
    padding: 91px 0px 84px 0px;
    
    }
    
    .services{
        margin-bottom: 65px;
    }
    
    .service{
        display: flex;
        margin-bottom: 49px;
    }
    
    .service:last-child {
        margin: 0;
    }


    .service__img{
        width: 40.4%;
        margin-right: 5%;
    
    }
    
    .service__content{
        flex: 1;
        padding-top: 10px;
    
    }
    
    .service__img-elem{
        display: block;
        max-width: 100%;
    
    }
    
    .service__title{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #000000;
    
    }
    
    .service__desc{
        line-height: 27px;
        margin-bottom: 35px;
    
    }
    
    
