.top-background {
   
}

.top-line{
    min-height: 419px;
    color: #fff;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    background: url("./../img/headline\ 1.png") center top no-repeat;

}

.header__service {
    margin-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page__title{
    font-size: 72px;
    line-height: 98px;
    font-weight: bold;
}

.breadcrumbs{

margin-right: 0;
margin-top: 63px;
}

.breadcrumbs__list{
    display: flex;
    align-items: center;

}

.breadcrumbs__link{
    color: #9A9A9A;
    font-size: 14px;

}
.breadcrumbs__item{
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link{
    color: #9A9A9A;
    font-weight: bold;
}

.breadcrumbs__item::after{
    content:"/";
    color: #9A9A9A;
    margin: 0 3px;
}

.breadcrumbs__item:last-child::after{
    display: none;
}
